<div class="admin-bar-wrapper" [ngClass]="{'admin-bar-expanded': expanded}">
    <div class="admin-bar-toggle">
        <span class="toggle-button fa-stack" *ngIf="expanded else collapsed" (click)="toggleSidenav()">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-angle-left fa-stack-1x dark-icon"></i>
        </span>
        <ng-template #collapsed>
            <span class="toggle-button fa-stack" (click)="toggleSidenav()">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-angle-right fa-stack-1x dark-icon"></i>
        </span>
        </ng-template>

    </div>
    <div class="admin-bar-actions">
<!--        admin actions-->
    </div>
    <div class="user-actions" (mouseover)="doorOpen = true" (mouseout)="doorOpen = false" (click)="auth.logout()" matTooltip="Log Out">
        <i class="fas fa-door-open" *ngIf="doorOpen else doorClosed"></i>
        <ng-template #doorClosed>
            <div>
               <i class="fas fa-door-closed"></i>
            </div>
        </ng-template>
    </div>
</div>
