.admin-bar-wrapper {
    background-color: $back-vari-2;
    max-width: 300px;
    height: 100%;
    display: flex;
    flex-flow: column;
    width: 84px;
    transition: width 0.3s;

    .admin-bar-toggle {
        padding: 1em 1.4em 1em 1em;

        .toggle-button {
            font-size: 1.4em;
            cursor: pointer;
            color: $brand-secondary;
            transition: 0.3s;
            transform: translateX(0);
            float: right;


            &:hover {
                color: $neon-pink;
                transform: translateX(.3em);
            }
        }
    }

    .admin-bar-actions {
        padding: 1em;
        border: solid 1px orange;
    }

    .user-actions {
        padding: 1em;

        i {
            font-size: 2em;
            cursor: pointer;
            color: $brand-primary;
        }

    }
}

.admin-bar-expanded {
    transition: width 0.3s;
    width: 300px;
}
