button {
  &:focus {
    outline: none;
  }
}

.button {

  &__submit, &__more {
    border: solid 1px $neon-green !important;
    color: $neon-green !important;
    width: inherit;
    margin: 1em !important;

    &:hover {
      background-color: $neon-green !important;
      color: $back-vari-1 !important;
    }

    &:disabled:hover {
      cursor: not-allowed;
    }
  }

  &__more {
    background: transparent;
    font-family: $font-family-secondary;
    padding: .4em 1em;
    cursor: pointer;
    line-height: 3em;
    vertical-align: middle !important;

    i {
      font-size: calc(35px * 0.8);
      vertical-align: middle !important;
    }
  }
}


.dark-icon {
  color: $base-background;
}
