@keyframes colorChange {
  0% {
    color: $neon-green;
  }
  6.25% {
    color: $emerald;
  }
  12.5% {
    color: $nephritis;
  }
  18.75% {
    color: $turquoise;
  }
  25% {
    color: $green-sea;
  }
  31.25% {
    color: $peter-river;
  }
  37.5% {
    color: $belize-hole;
  }
  43.75% {
    color: $amethyst;
  }
  50% {
    color: $wisteria;
  }
  56.25% {
    color: $sun-flower;
  }
  62.5% {
    color: $orange;
  }
  68.75% {
    color: $carrot;
  }
  75% {
    color: $pumpkin;
  }
  81.25% {
    color: $alizarin;
  }
  87.5% {
    color: $neon-pink;
  }
  93.75% {
    color: $neon-blue;
  }
  100% {
    color: $neon-green;
  }
}

