mat-expansion-panel {
  background-color: $back-vari-1 !important;
  animation-duration: .5s !important;
  animation-fill-mode: both !important;

  &:hover {
    background-color: $back-vari-2 !important;
  }

  mat-panel-title {
    color: $neon-pink !important;
  }

  .mat-expansion-panel-content {
    color: $neon-green !important;
  }
}

.mat-expansion-indicator {

  &:after {
    color: $neon-pink !important;
  }
}

@for $i from 1 through 40 {
  @if $i == 1 {
    mat-expansion-panel:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.5}s;
      animation-iteration-count: 1;
    }
  } @else {
    mat-expansion-panel:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.3}s;
      animation-iteration-count: 1;
    }
  }



  mat-expansion-panel:nth-child(even) {
    animation-name: fade-in-left;
  }

  mat-expansion-panel:nth-child(odd) {
    animation-name: fade-in-right;
  }
}
