mat-expansion-panel {
  background-color: $back-vari-1 !important;

  &:hover {
    background-color: $back-vari-2 !important;
  }

  mat-panel-title {
    color: $neon-pink !important;
  }

  .mat-expansion-panel-content {
    color: $neon-green !important;
  }
}

.mat-expansion-indicator {

  &:after {
    color: $neon-pink !important;
  }
}