.navigation-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
  transition: 1s all cubic-bezier(.05, 1.1, .38, .99);
  z-index: z(above-default);
  background-color: $back-vari-1;

  &.menu-open {
    transform: translate(0, 0);
  }
  .navigation {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: center;
    position: relative;

      .navigation-element {
        text-decoration: none;
        height: calc(80% / 5);
        max-width: 600px;
        width: 90%;
        margin: 0 auto;

        &:hover .navigation-bottom-border{
          width:100%;
        }

        &:hover .navigation-sub-name-container{
          display: block;
          animation-name: fadeIn;
          animation-duration: .35s;
        }

        &:hover {
         .skills > span {
           position: relative;

           &:after {
               border-bottom: 0.2em solid $brand-primary;
               content: "";
               left: -5%;
               line-height: 1em;
               margin-top: calc(0.125em / 2 * -1);
               position: absolute;
               right: -5%;
               top: 50%;
             animation-name: strike;
             animation-duration: .2s;
           }
          }
        }

        a {
          text-decoration: none;
          color: $brand-primary;
          letter-spacing: .15em;
          outline: none;

          .navigation-icon-container {
            text-align: center;
            padding: 1em 0;

            .navigation-icon {
              font-size: 3em;
            }
          }

          .navigation-name-container, .navigation-sub-name-container {
            text-align: center;
            font-family: 'Orbitron';
          }

          .navigation-name-container {
            span {
              font-family: 'Orbitron';
            }
          }

          .navigation-sub-name-container {
            display: none;
          }

          .navigation-bottom-border {
            height: 2em;
            z-index: z('above-siblings');
            position: absolute;
            bottom: 0;
            width: 0;
            background-color: $back-vari-3;;
            transition: width 0.4s ease-in-out;
          }

        }
    }
  }
}

.sweep {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.4s;
}
.sweep:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $back-vari-2;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.sweep:hover, .sweep:focus, .sweep:active {
  color: white;
}
.sweep:hover:before, .sweep:focus:before, .sweep:active:before {
  transform: scaleX(1);
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
