.navigation-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
  transition: 1s all cubic-bezier(.05, 1.1, .38, .99);
  z-index: z(above-default);
  background-color: $back-vari-1;

  &.menu-open {
    transform: translate(0, 0);
  }
  .navigation {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: center;
    position: relative;

      .navigation-element {
        text-decoration: none;
        height: calc(80% / 5);
        max-width: 600px;
        width: 90%;
        margin: 0 auto;

        &:hover .navigation-bottom-border{
          width:100%;
        }



        a {
          text-decoration: none;
          color: $brand-primary;
          letter-spacing: .15em;

          .navigation-icon-container {
            text-align: center;
            padding: 1em 0;

            .navigation-icon {
              font-size: 3em;
            }
          }

          .navigation-name-container, .navigation-sub-name-container {
            text-align: center;
            font-family: 'Orbitron';
          }

          .navigation-bottom-border {
            height: 2em;
            z-index: z('above-siblings');
            position: absolute;
            bottom: 0;
            width: 0;
            background-color: $back-vari-3;;
            transition: width 0.3s ease-in-out;
          }
        }
    }
  }
}

.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $back-vari-2;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
