.tag {

  &__body-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<component>';
    }
  }

  &__body-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</component>';
    }
  }

  &__header-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<h1>';
    }
  }

  &__header-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</h1>';
    }
  }

  &__form-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<form>';
    }
  }

  &__form-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</form>';
    }
  }

  &__intro-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<intro>';
    }
  }

  &__intro-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</intro>';
    }
  }

  &__projects-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<projects>';
    }
  }

  &__projects-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</projects>';
    }
  }

  &__project-name-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<project-name>';
    }
  }

  &__project-name-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</project-name>';
    }
  }

  &__project-description-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<project-description>';
    }
  }

  &__project-description-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</project-description>';
    }
  }

  &__project-stack-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<project-technologies>';
    }
  }

  &__project-stack-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</project-technologies>';
    }
  }

  &__project-gallery-start {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '<project-gallery>';
    }
  }

  &__project-gallery-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</project-gallery>';
    }
  }

  &__form-message-start {
    color: $tags;
    font-family: $font-family-secondary; //
    font-size: .8em;

    &:after {
      content: '<form-message>';
    }
  }

  &__form-message-end {
    color: $tags;
    font-family: $font-family-secondary;
    font-size: .8em;

    &:after {
      content: '</form-message>';
    }
  }
}
