// Colours
$white: #ffffff;
$black: #000000;
$gray-base: #676767;
$gray-darker: #676767;
$gray-dark: #8b8d8d;
$gray: #cccccc;
$gray-light: #efefee;
$gray-lighter: #eeeeee;
$gray-lightest: #f9f6f6;
$concrete: #F2F2F2;
$grayChateau: #A3A3A3;
$anotherGray: #e7e7e7;


$brand-primary: #d71f85;
$brand-secondary: #470649;
$brand-success: #4cd964;
$brand-warning: #fc0;
$brand-danger: #ff3b30;
$brand-info: #34aadc;
$brand-blue: #dae5f8;

$brand-primary-hover: #9b1665;
$brand-primary-active: #6f164e;

$brand-facebook: #3764a3;
$brand-google: #850f08;
$brand-twitter: #588eca;

$body-bg: #ececec;
$app-bg: #fff;
$text-color: $gray-darker;
$link-color: $brand-primary;

$divider-color: #d3d3d3;

// Layout
$mainWidth: 1200px;

// Typography
$font-path: '../fonts/';
$font-family-base: 'Gotham Rounded Book';
$font-family-secondary: 'Gotham Rounded';
$font-family-light: 'Gotham Rounded Light';


// v Accordion
$v-accordion-default-theme:         true !default;


// Accordion
// -------------------------------------

$v-accordion-spacing:               20px !default;

$v-pane-border-color:               $brand-primary !default;
$v-pane-expanded-border-color:      $brand-secondary !default;
$v-pane-icon-color:                 $brand-primary !default;
$v-pane-hover-color:                $brand-secondary !default;
$v-pane-disabled-opacity:           0.6 !default;

$v-pane-expand-animation-duration:  0.5s  !default;
$v-pane-hover-animation-duration:   0.25s !default;
