$main-wrapper: 850px;
$main-wrapper-min: 300px;

.contact-page-wrapper {
  border: solid 2px $neon-blue;
  max-width: $main-wrapper;
  margin: 0 auto;
  min-width: $main-wrapper-min;

  .contact-page-header {
    margin: 1em;
  }

    .sheet-wrapper {
      border: solid 2px $sun-flower;
      max-width: calc(#{$main-wrapper } - 80px);
      margin: 0 auto;
      z-index: 2;

      .form-element {
        display: flex;
        width: 100%;

        mat-form-field, mat-input-container {
          width: inherit;
          margin: 1em;
        }
      }
    }

}

mat-input-container label, mat-form-field label, .mat-hint {
  color: $neon-green !important;
}

mat-input-container.mat-input-focused label {
  color: $neon-green !important;
}

.mat-input-underline, .mat-form-field-underline {
  background-color: $neon-green !important;
}


.send-animation {
  animation: send-animation 0.5s ease-in both;
}

@-webkit-keyframes send-animation {
  0% {
    transform: translateZ(0) rotateX(0);
    opacity: 1;
  }
  54% {

    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
}
@keyframes send-animation {
  0% {
    transform: translateZ(0) rotateX(0);
    opacity: 1;
  }
  54% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
}
