@import '../utils/respond';

.experience-container {
  margin: 1em;

  .positions-list {
    margin: 1em;

    @for $i from 1 through 40 {
      .position-wrapper:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.3}s;
      }

      .position-wrapper:nth-child(even) {
        animation-name: fade-in-left;
      }

      .position-wrapper:nth-child(odd) {
        animation-name: fade-in-right;
      }
    }

    .position-wrapper {
      margin: 1em auto;
      padding-bottom: .5em;
      background-color: $back-vari-4;
      box-shadow: 2px 2px 5px 0 $neon-pink;
      animation-duration: .5s;
      animation-fill-mode: both;

      .position-header {
        display: flex;

        @include respond((min: 700px)) {
          flex-direction: row;
        }

        @include respond((max: 699px)) {
          flex-direction: column;
        }

        .company-image {
          max-width: 200px;
          width: 100%;
        }

        .position-details {
          width: 100%;

          .position {
            padding: .5em .5em 0 .5em;

            p {
              font-size: 1.2em;
            }

            .company-name {
              color: $neon-blue;
              font-size: .8em;
            }
          }

          .position-period {
            padding: 0 .5em;

            p {
              font-size: .8em;
              color: $clouds;
            }
          }
        }
      }

      .position-description-container {
        padding: 1em;
      }
    }
  }


}
