.experience-container {
  border: solid 2px silver;
  margin: 1em;

  .jobs-list {
    border: solid 2px cyan;
    margin: 1em;

    .job-wrapper {
      border: solid 2px sienna;
      display: flex;

      .company-image {
        border: #9b59b6 solid 2px;
        max-width: 200px;
        width: 100%;
      }
    }
  }


}
