.faqs-page-wrapper {
    margin: 1em;

  p {
    margin: 1em 0;
  }
}

.questions {
  font-size: 1.3em;
  font-weight: bold;
}

.answers {
  font-size: 1.2em;
  line-height: 2em;
  vertical-align: middle;
}

.resize-icon {
  font-size: 1.3em;
}