@import '../utils/respond';

.about-page-wrapper {
  @include respond((min: 800px)) {
    margin: 0 5em;
  }

  @include respond((max: 799px)) {
    margin: 0 auto;
  }

  .about-page-header {
    margin: 0 1em;

    h1 {
      text-transform: uppercase;
      font-family: $font-family-secondary;
      letter-spacing: .2em;
      animation: colorChange 35s infinite, fadeUpIn 3s;
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .about-page-headline-wrapper {
    display: flex;

    > * {
      flex: 1 100%;
    }

    @include respond((max: 799px)) {
      flex-direction: column-reverse;

      .about-page-image-wrapper {

        .images-container {

          .profile-front, .profile-back {
            right: 0;
            left: 0;
            margin: 0 auto;
          }
        }
      }
    }

    @include respond((min: 800px)) {
      flex-direction: row;

      .about-page-headline {
        max-width: 450px;
      }
    }

    .about-page-headline {

      padding: 0 1em;

      .me-name {
        transition: all .2s ease-in-out;

        &:hover {
          text-decoration: underline;
          color: $neon-pink;
          font-size: 1.2em;

        }
      }
    }

    .about-page-image-wrapper {

      .images-container {
        position: relative;
        min-height: 220px;

        .profile-front, .profile-back {
          animation-duration: 15s;
          animation-iteration-count: infinite;
          animation-timing-function: ease;
          animation-fill-mode: initial;
          backface-visibility: hidden;
          position: absolute;
          top: 1em;
          left: 1em;
          width: 200px;

          .round-image {
            background-color: $neon-pink;
            box-shadow: 0 0 0 0.3em $neon-pink;
            border-radius: 50%;

            &:hover {
              animation: bounce-out .4s linear;
            }
          }
        }

        .profile-front {
          animation-name: flip-front;
          z-index: 2;
        }

        .profile-back {
          animation-name: flip-back;
          transform: rotateY(-180deg);
        }
      }
    }
  }

  .about-page-socials-wrapper {
    padding: 0 1em;

    ul {
      display: inline-flex;
      padding: 1em .7em;

      li {
        list-style: none;
        font-size: calc(35px * 0.8);
        position: relative;

        &:hover {
          animation-name:pulse-big;
          animation-duration: .7s;

          a {
            color: $neon-blue;
          }
        }

        a {
          color: $neon-pink;
        }
      }
    }
  }

  .about-page-content {
    padding: 1em;
  }
}
