@import '../utils/respond';

.about-page-wrapper {
  @include respond((min: 800px)) {
    margin: 0 5em;
  }

  @include respond((max: 799px)) {
    margin: 0 auto;
  }

  .about-page-header {
    margin: 1em;

    h1 {
      text-transform: uppercase;
      font-family: $font-family-secondary;
      letter-spacing: .2em;
      animation: colorChange 35s infinite, fadeUpIn 3s;
    }
  }

  .about-page-headline-wrapper {
    border: solid 1px $neon-blue;
    display: flex;

    @include respond((max: 899px)) {
      flex-direction: column-reverse;
    }

    @include respond((min: 900px)) {
      flex-direction: row;
    }

    .about-page-headline {
      border: solid 1px $sun-flower;
      flex: 1 1 100%;
      margin: 0 1em;
    }

  }

}
