@import '../utils/respond';

.about-page-wrapper {
  @include respond((min: 800px)) {
    margin: 0 5em;
  }

  @include respond((max: 799px)) {
    margin: 0 auto;
  }

  .about-page-header {
    margin: 1em;

    h1 {
      text-transform: uppercase;
      font-family: $font-family-secondary;
      letter-spacing: .2em;
      animation: colorChange 35s infinite, fadeUpIn 3s;
      transition: all .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .about-page-headline-wrapper {
    border: solid 1px $neon-blue;
    display: flex;

    > * {
      flex: 1 100%;
    }

    @include respond((max: 799px)) {
      flex-direction: column-reverse;
    }

    @include respond((min: 800px)) {
      flex-direction: row;

      .about-page-headline {
        max-width: 450px;
      }
    }

    .about-page-headline {
      border: solid 1px $sun-flower;
    }

    .about-page-image-wrapper {
      border: solid 2px $neon-pink;
    }
  }

  .about-page-socials-wrapper {
    border: solid 2px $carrot;
  }
}
