$full-width: 100%;

.project-details-page-wrapper {
  margin: 0 1em;
  display: flex;

  @include respond((max: 799px)) {
    flex-direction: column;
  }

  @include respond((min: 800px)) {
    flex-direction: row;
  }

  .project-details-images-wrapper {
    width: 100%;
    padding: 0 .2em;

    .project-details-active-image {
      position: relative;

      .gallery_chevron_left {
        position: absolute;
        left: 1em;
        top: 50%;
        cursor: pointer;
        font-size: 2em;
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }

      .gallery_chevron_right {
        position: absolute;
        right: 1em;
        top: 50%;
        cursor: pointer;
        font-size: 2em;
        transition: all .2s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }

      img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
      }
    }

    .project-details-images-list {
      vertical-align: center;
      text-align: center;
    }
  }

  .project-details-content-wrapper {
    width: 100%;

    .project-name-wrapper, .project-description-content-wrapper {
      margin: 0 .2em;
    }

    .project-details-description {

      p {
        text-align: justify;
        padding: 0.5em;
      }
    }

    .project-details-skills-list {

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          list-style: none;
          text-align: center;
          border-radius: .5em;
          transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

          @include respond((max: 849px)) {
            width: calc(100% / 2);
          }

          @include respond((min: 850px)) {
            width: calc(100% / 3);
          }

          @include respond((min: 1000px)) {
            width: calc(100% / 4);
          }

          .icon-wrapper {
            width: 50px;
            height: 50px;
            margin: 5px auto;
            font-size: calc(50px * 0.8);
            color: $neon-pink;
          }

          .skill {
            opacity: 0;
          }

          &:hover {
            background-color: $back-vari-4;
            animation-name: pulse;
            animation-duration: .5s;
            box-shadow: 1px -1px 1px 0px $neon-pink;

            .skill {
              opacity: 1;
              background-color: $clouds;
              color: $back-vari-1;
              border-radius: 0 0 .5em .5em;

              p {
                animation-name: fade-in-down;
                animation-duration: .3s;
              }
            }
          }

          .stack-icon {
            height: 100%;
            width: 100%;
          }
        }

      }
    }
  }

  .project-link {
    a {
      color: $neon-blue;
      text-decoration: none;

      &:hover {
        color: $neon-pink;
        animation-name: pulse;
        animation-duration: .5s;
        text-decoration: underline;
      }
    }

    &:hover {
      animation-name: pulse;
      animation-duration: .5s;
    }
  }
}

.return-wrapper {
  width: 5em;
  height: 2.5em;
  margin-left: 1em;
  line-height: 2.5em;
  padding: 5px;
  cursor: pointer;

  &:hover {
    span, a {
      color: $neon-pink;
    }

    a {
      text-decoration: underline;
      opacity: 1;
    }

    span {
      animation-name: spin;
      animation-duration: .3s;
    }

  }

  span {
    vertical-align: middle;
    font-size: 1.6em;
    color: $neon-blue;
  }

  a {
    color: $neon-blue;
    text-decoration: none;
    opacity: 0;
    transition: all .3s ease-in-out;

  }

  &:hover {
    animation-name: pulse;
    animation-duration: .5s;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
