$full-width: 100%;

.project-details-page-wrapper {
  border: solid 2px silver;
  margin: 0 1em;
  display: flex;

  @include respond((max: 599px)) {
    flex-direction: column;
  }

  @include respond((min: 600px)) {
    flex-direction: row;
  }

  .project-details-images-wrapper {
    border: solid 2px gold;
    width: 100%;

    .project-details-active-image {
      border: solid 2px red;
      position: relative;

      .gallery_chevron_left {
        position: absolute;
        left: 1em;
        top: 50%;
        cursor: pointer;
        font-size: 2em;
      }

      .gallery_chevron_right {
        position: absolute;
        right: 1em;
        top: 50%;
        cursor: pointer;
        font-size: 2em;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        display:block;
        margin:0 auto;
      }
    }

    .project-details-images-list {
      border: solid 2px mediumpurple;
      vertical-align: center;
      text-align: center;
    }
  }

  .project-details-content-wrapper {
    border: solid 2px skyblue;
    width: 100%;

    .project-details-description {
      border: solid 2px yellowgreen;

      p {
        text-align: justify;
        padding: 0.5em;
      }
    }

    .project-details-skills-list {
      border: solid 2px orange;
    }
  }
}
