<span class="tag__body-start"></span>
<div class="faqs-page-wrapper">
  <div class="return-wrapper" (click)="navigateBack()">
    <span class="fas fa-arrow-circle-left"></span>
    <a>Return</a>
  </div>
  <p>Below you can find the list of the most popular questions.</p>
  <span class="tag__faqs-start"></span>
  <mat-accordion *ngIf="faqs">
    <mat-expansion-panel *ngFor="let faq of faqs;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title class="questions">
          {{i+1}}. {{faq.question}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div [innerHTML]="faq.answer" class="answers"></div>
    </mat-expansion-panel>
  </mat-accordion>
  <span class="tag__faqs-end"></span>
</div>
<span class="tag__body-end"></span>
