<span class="tag__body-start"></span>
<div class="contact-page-wrapper">
  <div class="contact-page-header">
    <span class="tag__header-start"></span>
    <h2 *ngIf="!formSent">Say Hello!</h2>
    <h2 *ngIf="formSent">{{responsePayload.header}}</h2>
    <span class="tag__header-end"></span>
  </div>

  <div class="response-wrapper" *ngIf="formSent" [ngClass]="{'display-status': formSent}">
    <span class="tag__form-message-start"></span>
    <p>{{responsePayload.message}}</p>
    <button type="button" class="button__submit go-back" mat-button
            (click)="goBackHome()"><i class="fas fa-walking"></i> Back to Profile
    </button>
    <span class="tag__form-message-end"></span>
  </div>
  <div class="sheet-wrapper" [ngClass]="{'send-animation': animateMe}">
    <span class="tag__form-start"></span>
    <form (ngSubmit)="submitForm()" [formGroup]="contactForm">
      <div class="form-element">
        <mat-form-field>
          <input matInput placeholder="Your Name" [type]="'text'" required formControlName="name">
          <mat-hint class="errors" *ngIf="checkName()">
            Please fill in your name
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-form-field>
          <input matInput placeholder="Your Email Address" [type]="'email'" required formControlName="email">
          <mat-hint class="errors" *ngIf="doCheckEmail()">
            {{emailError}}
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-input-container>
            <textarea matInput #message placeholder="Your Message" align="start" [type]="'text'" rows="6"
                      formControlName="message" maxlength="500" class="custom-scrollbar" required></textarea>
          <mat-hint class="errors" *ngIf="checkMessage()">
            Please insert your message
          </mat-hint>
          <mat-hint align="end">{{message.value?.length || 0}}/500</mat-hint>
        </mat-input-container>
      </div>
      <div class="form-element">
        <button type="button" class="button__submit" mat-button
                (click)="submitForm()" [disabled]="!contactForm.valid"><i class="fas fa-paper-plane"></i> Send Message
        </button>
      </div>
    </form>
    <span class="tag__form-end"></span>
  </div>


</div>
<span class="tag__body-end"></span>
