<span class="tag__body-start"></span>
<div class="experience-container">
  <div class="experience-summary">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
  <div class="positions-list">
    <div class="position-wrapper">
      <div class="position-header">
        <div class="company-image">

        </div>
        <div class="position-details">
          <div class="position">
            <p>pos here</p>
          </div>
          <div class="position-period">
            <p>period here</p>
          </div>
        </div>
      </div>
      <div class="position-description-container">
        <p>desc here</p>
      </div>
    </div>
  </div>
</div>
<span class="tag__body-end"></span>
