<span class="tag__body-start"></span>
<div class="experience-container">
  <div class="experience-summary">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
  </div>
  <div class="positions-list" *ngIf="positions && projectsList">
    <span class="tag__work-experience-start"></span>
    <div class="position-wrapper" *ngFor="let position of positions">
      <div class="position-header">
        <div class="company-image">
          <img [src]="generateImage(position.companyImage)">
        </div>
        <div class="position-details">
          <div class="position">
            <p><b>{{position.position}}</b> <span class="company-name">@{{position.companyName}}</span></p>
          </div>
          <div class="position-period" [innerHTML]="generatePeriod(position.active, position.period)">
          </div>
        </div>
      </div>
      <div class="position-description-container">
        <p>desc here</p>
      </div>
    </div>
    <span class="tag__work-experience-end"></span>
  </div>
</div>
<span class="tag__body-end"></span>
