<span class="tag__body-start"></span>
<div class="projects-page-wrapper">
  <div class="projects-page-header">
    <span class="tag__header-start"></span>
      <h2>Projects List</h2>
    <span class="tag__header-end"></span>
  </div>
  <span class="tag__projects-start"></span>
  <div class="projects-page-content" *ngIf="projectsList">
    <div class="projects-gallery-wrapper">
      <ul class="projects-list">
        <li *ngFor="let project of projectsList" (click)="goToProject(project.projectId)">
          <img [src]="generateImage(project.mainImage)" alt="project.projectName">
          <div class="project-caption">
            <div class="hover-container">
              <div class="view-project">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                  <i class="far fa-eye fa-stack-1x"></i>
                </span>
              </div>
              <p class="project-caption-name">View {{project.name}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <span class="tag__projects-end"></span>
</div>
<span class="tag__body-end"></span>
