<div class="header-bar">
  <folio-navigation [menuOpen]="menuOpen" (menuStateUpdated)="updateMenuState($event)"></folio-navigation>
  <div class="burger" (click)="toggleMenu()" [ngClass]="{'cross': menuOpen}">
    <span></span>
  </div>
</div>
<div class="content-wrapper">
<nav>
  <a routerLink="">home</a>
  <a routerLink="about">about</a>
  <a routerLink="contact">contact</a>
  <a routerLink="portfolio">portfolio</a>
  <a routerLink="skills">skills</a>
  <a routerLink="experience">experience</a>
</nav>

<div [@routerAnimation]="getRouteAnimation(route)">
  <router-outlet #route="outlet"></router-outlet>
</div>

</div>
