<span class="tag__body-start"></span>
<div class="about-page-wrapper">

  <div class="about-page-header">
    <span class="tag__header-start"></span>
    <h1>Hello!</h1>
    <span class="tag__header-end"></span>
  </div>

  <div class="about-page-headline-wrapper">
    <div class="about-page-headline">
      <span class="tag__intro-start"></span>
      <h2>I'm <span class="me-name" (mouseover)="bounceImage($event)" (mouseout)="bounceImage($event)">Maro Radovic</span>, {{age}} y.o.</h2>
      <h3>Web & Software Developer</h3>
      <span class="tag__intro-end"></span>
    </div>
    <div class="about-page-image-wrapper" *ngIf="!isLoading">
      <span class="tag__profile-picture-start"></span>
      <div class="images-container">
        <div class="profile-front">
          <img class="round-image" [src]="generateImage(profilePictures[0].image)">
        </div>
        <div class="profile-back">
          <img class="round-image" [ngClass]="bouncer" [src]="generateImage(profilePictures[1].image)">
        </div>
      </div>
      <span class="tag__profile-picture-end"></span>
    </div>
  </div>
  <div class="about-page-socials-wrapper" *ngIf="!isLoading">
    <span class="tag__socials-start"></span>
    <div class="icons-wrapper">
      <ul *ngFor="let social of socialIcons">
        <li class="social-icon">
          <a [href]="social.url" target="_blank" [title]="social.name"><i [class]="social.icon"></i></a>
        </li>
      </ul>
    </div>
    <span class="tag__socials-end"></span>
  </div>
  <div class="about-page-content">
    <p>Interested in more? Check these out...</p>
    <button>FAQs</button>
    <button>Experience</button>
    <button>Skills</button>
    <button>Projects</button>
  </div>
</div>
<span class="tag__body-end"></span>
