<div class="about-page-wrapper">
  <span class="tag__body-start"></span>

  <div class="about-page-header">
    <span class="tag__header-start"></span>
    <h1>Hello!</h1>
    <span class="tag__header-end"></span>
  </div>

  <div class="about-page-headline-wrapper">
    <div class="about-page-headline">
      <span class="tag__intro-start"></span>
      <p>I'm Maro Radovic, {{age}} y.o.</p>
      <p>Web & Software Developer</p>
      <span class="tag__intro-end"></span>
    </div>
  </div>

  <div class="about-page-content">
    <p>about page component works</p>
  </div>

  <span class="tag__body-end"></span>
</div>

