@import '~@angular/material/_theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

$folio-palette-primary: (
  50 : #ffffff,
  100 : #f7ffec,
  200 : #e1ffb4,
  300 : #c5ff6c,
  400 : #b9ff4e,
  500 : #adff2f,
  600 : #a1ff10,
  700 : #92f100,
  800 : #7fd200,
  900 : #6db400,
  A100 : #ffffff,
  A200 : #e9ffc8,
  A400 : #c1ff62,
  A700 : #b7ff48,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$folio-palette-secondary: (
  50 : #ffffff,
  100 : #ffbdde,
  200 : #ff85c2,
  300 : #ff3d9e,
  400 : #ff1f8e,
  500 : #ff007f,
  600 : #e00070,
  700 : #c20061,
  800 : #a30051,
  900 : #850042,
  A100 : #ffffff,
  A200 : #ff99cc,
  A400 : #ff3399,
  A700 : #ff1a8c,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: white,
    400: white,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$folio-app-primary: mat-palette($folio-palette-primary);
$folio-app-accent: mat-palette($folio-palette-secondary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$folio-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$folio-app-theme: mat-light-theme($folio-app-primary, $folio-app-accent, $folio-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($folio-app-theme);
