<span class="tag__body-start"></span>
<div class="return-wrapper" (click)="navigateBack()">
  <span class="fas fa-arrow-circle-left"></span>
  <a>Return</a>
</div>
<div class="project-details-page-wrapper" *ngIf="projectDetails">
  <div class="project-details-images-wrapper">
    <div class="project-details-active-image">
      <span class="tag__project-gallery-start"></span>
      <img [src]="activeImage" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
      <span class="gallery_chevron_left fas fa-caret-left" (click)="previous()"></span>
      <span class="gallery_chevron_right fas fa-caret-right" (click)="next()"></span>
    </div>
    <div class="project-details-images-list">
      <ul class="dot_list">
        <ng-template ngFor let-image [ngForOf]="galleryList" let-i="index">
          <li class="dot" (click)="imageSelected(i)" [ngClass]="{'active': activeImageIndex === i}"></li>
        </ng-template>
      </ul>
    </div>
    <span class="tag__project-gallery-end"></span>
  </div>
  <div class="project-details-content-wrapper">
    <div class="project-details-description">
      <div class="project-name-wrapper">
        <span class="tag__project-name-start"></span>
        <h3>{{projectDetails.name}}</h3>
        <span class="tag__project-name-end"></span>
      </div>
      <div class="project-description-content-wrapper">
        <span class="tag__project-description-start"></span>
        <p>{{projectDetails.description}}</p>
        <span class="tag__project-description-end"></span>
      </div>
    </div>
    <div class="project-details-skills-list">
      <div class="project-skills-wrapper">
        <span class="tag__project-stack-start"></span>
        <ul>
          <li *ngFor="let faIcon of fontAwesomeList">
            <div class="icon-wrapper">
              <i [class]="faIcon.icon"></i>
            </div>
            <div class="skill"><p>{{faIcon.name}}</p></div>
          </li>
          <li *ngFor="let customIcon of customIconsList">
            <div class="icon-wrapper">
              <img [src]="customIcon.icon" class="stack-icon">
            </div>
            <div class="skill"><p>{{customIcon.name}}</p></div>
          </li>
        </ul>
        <span class="tag__project-stack-end"></span>
      </div>
    </div>
    <div>
      <span class="tag__project-link-start"></span>
      <br/>
      <div class="project-link"><a [href]="projectDetails.link">Website - {{projectDetails.link}}</a></div>
      <span class="tag__project-link-end"></span>
    </div>
  </div>
</div>
<span class="tag__body-end"></span>



