<span class="tag__body-start"></span>
<div class="project-details-page-wrapper">
  <div class="project-details-images-wrapper">
    <div class="project-details-active-image">
      <p>Active Image</p>
    </div>
    <div class="project-details-images-list">
      <p>Images List</p>
    </div>
  </div>
  <div class="project-details-content-wrapper">
    <div class="project-details-description">
      <p>Description</p>
    </div>
    <div class="project-details-skills-list">
      <p>Skills List</p>
    </div>
  </div>
</div>
<span class="tag__body-end"></span>



